<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>

  <section class="content" style="">
      <div class="box-body">
          <button class="btn btn-primary" style="margin-bottom: 20px;" data-toggle="modal" data-target="#myModel" type="button">添加提现订单</button>
            <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">添加提现订单订单</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">会员ID:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="member_id" placeholder="请输入会员ID">
                                    </div>
                                </div> 
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">提现金额:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="money" placeholder="请输入提现金额">
                                    </div>
                                </div> 
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">客服ID:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="admin_id" placeholder="请输入操作客服ID">
                                    </div>
                                </div> 
                                <div style="margin-left: 70%;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" onclick="handle.save()" >保存</button>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>序号</td>
                    <td>用户ID</td>
                    <td>充值金额(元)</td>
                    <td>客服ID</td>
                    <td>订单创建时间</td>
                    <td>订单处理时间</td>
                    <td>是否充值</td>
                    <td>操作</td>
                </tr>
                {volist name='list' id='v'}
                <tr>
                    <td>{$i}</td>
                    <td>{$v.member_id}</td>
                    <td>{$v.money}</td>
                    <td>{$v.admin_id}</td>
                    <td>{$v.create_at}</td>
                    <td>{$v.update_at}</td>
                    <td>
                        {eq name="v.status" value="1"}
                        <span class="label label-success" onclick="handle.changeStatus(this,{$v.id},{$v.status})" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-title="点击未处理">已充值</span>
                        {else/}
                        <span class="label label-default" onclick="handle.changeStatus(this,{$v.id},{$v.status})" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-title="点击处理">未充值</span>
                        {/eq}
                    </td>
                    <td>
                       <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" data-title="删除" onclick="handle.delete(this,{$v.id});">
                        <i class="fa fa-trash"></i>
                       </button>
                    </td>
                </tr>
                {/volist}
            </table>
            <div style="margin-left: 36%">{$list->render()}</div>
        </div>
    </section>

 
    <script type="text/javascript">

    var index;//table中tr的下标

    var requestUrl = {
        changeStatus : "{:url('WithdrawApply/changeStatus')}",
        save : "{:url('WithdrawApply/saveWithdraw')}",
        delete : "{:url('WithdrawApply/deleteWithdraw')}"
    };

    var handle = {
        changeStatus : function(obj,id,status){
            if(status==1){
                var status = 0;
            }else{
                var status = 1;
            }
            index = $(obj).parents('tr').index();
            var data = {id:id,status:status};
            $.post(requestUrl.changeStatus,data,function(e){
                if(e.code==1){
                    if(status==0){
                        $(".table.table-bordered tr").eq(index).find('td:eq(6) span').html('未处理').attr({class:'label label-default',onclick:'handle.changeStatus(this,'+id+',0)'});
                        $(".table.table-bordered tr").eq(index).find('td:eq(5)').html(getNowTime());
                    }else{
                        $(".table.table-bordered tr").eq(index).find('td:eq(6) span').html('已处理').attr({class:'label label-success',onclick:'handle.changeStatus(this,'+id+',1)'});
                        $(".table.table-bordered tr").eq(index).find('td:eq(5)').html(getNowTime());
                    }
                }else{
                    $.alert({
                        title:'是否开启',
                        content:'切换失败！'
                    })
                }
            })
        },


        save : function(){
            var member_id = $("#member_id").val();
            var money = $("#money").val();
            var admin_id = $("#admin_id").val();
            var data = {member_id:member_id,money:money,admin_id:admin_id};
            $.post(requestUrl.save,data,function(e){
                if(e.code==1){
                    $('#modelActive').modal('hide');
                    $.alert({
                        title:'保存',
                        content:e.msg
                    })
                    window.location.reload();
                }else{
                    $.alert({
                        title:'保存',
                        content:e.msg
                    })
                }
            })
        },

        delete : function(obj,id){
            $.confirm({
            title : '删除？',
            content : '确定要删除吗？',
            animation : 'scaleY',
            closeAnimation : 'scale',
            type : 'red',
            icon: 'fa fa-warning',
            buttons : {
                    yes : {
                        text : '确定',
                        btnClass : 'btn-red',
                        keys : ['enter'],
                        action : function(){
                            var data = {id:id};
                            $.post(requestUrl.delete,data,function(e){
                                if(e==1){
                                   $(obj).parents('tr').remove();
                                }else{
                                    bayMax.warning('删除失败');
                                }
                            })
                        }
                    },
                    no : {
                        text : '取消',
                    }
                },
            })
        }


    };

    //获取当前日期时间
    function getNowTime() {  
            var nowtime = new Date();  
            var year = nowtime.getFullYear();  
            var month = padleft0(nowtime.getMonth() + 1);  
            var day = padleft0(nowtime.getDate());  
            var hour = padleft0(nowtime.getHours());  
            var minute = padleft0(nowtime.getMinutes());  
            var second = padleft0(nowtime.getSeconds());   
            return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second ;  
    } 

    //将时间补齐位数
    function padleft0(obj) {  
        return obj.toString().replace(/^[0-9]{1}$/, "0" + obj);  
    }  

    </script>


