<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    	<link rel="stylesheet" href="/static/index/css/public.css"/>
		<title>全部准备完成</title>
	</head>
	<body>
		<div class="foundsuccess-box bg-img-lg fixed all-ready">
			<header class="bg-img-lg relative">
				<img class="absolute" src="/static/index/images/img_xiongmao_room.png">
				<h4 class="size-18-f">熊猫四川麻将</h4>
				<div class="size-18-f">房号：<span>12345</span></div>
				<p>血战到底｜自摸加番｜杠上花（点炮）｜ 换三张｜门清中张</p>
			</header>
			<div class="mate-box">
				<p class="size-13 mate-news" >场次：<span>2</span>金币>><span>2</span>平台房间号：<span>512475</span>>>ID：<span>21571</span></p>
				<div class="room-import relative bg-img-lg">					
					<span class="absolute">输入上方熊猫房间号，进入游戏</span>				
				</div>
				<div class="noenter-prompt bg-img-lg text-overflow hide">
					<span>花开最完美</span>：我进不了
				</div>
				<div class="enter-prompt bg-img-lg text-overflow hide">
					在<span>熊猫四川麻将</span>中输入房号：<span>215478</span>进入游戏
				</div>
				<div class="mate-people clear">
					<div class="people-list bg-img-lg pull-left">
						<div class="people-news bg-img-lg relative">
							<div class="head-portrait absolute">
								<img src="/static/index/images/pulick-head_02.png"><!--头像-->
								<img class="headPortrair absolute-zero" src="/static/index/images/bg_ headPortrair_home.png"><!--头像边框-->
							</div>
							<p class="size-12">ID：<span>21566</span></p>
							<p class="size-12">昵称：<span class="nickname">绿色1</span></p>
							<p class="size-12">金币：<span>258</span></p>
						</div>
						<p class="clear">
							<span class="bg-img-lg btn-three" onclick="enterPrompt(this)"></span><!--进入游戏按钮-添加no-enter显示进入了按钮-->
						</p>						
					</div>
					<div class="people-list bg-img-lg pull-left">
						<div class="people-news bg-img-lg relative">
							<div class="head-portrait absolute">
								<img src="/static/index/images/pulick-head_02.png"><!--头像-->
								<img class="headPortrair absolute-zero" src="/static/index/images/bg_ headPortrair_home.png"><!--头像边框-->
							</div>
							<p class="size-12">ID：<span>21566</span></p>
							<p class="size-12">昵称：<span class="nickname">绿色2</span></p>
							<p class="size-12">金币：<span>258</span></p>
						</div>
						<p class="clear">
							<span class="bg-img-lg btn-three" onclick="enterPrompt(this)"></span><!--进入游戏按钮-添加no-enter显示进入了按钮-->
						</p>						
					</div>
					<div class="people-list bg-img-lg pull-left">
						<div class="people-news bg-img-lg relative">
							<div class="head-portrait absolute">
								<img src="/static/index/images/pulick-head_02.png"><!--头像-->
								<img class="headPortrair absolute-zero" src="/static/index/images/bg_ headPortrair_home.png"><!--头像边框-->
							</div>
							<p class="size-12">ID：<span>21566</span></p>
							<p class="size-12">昵称：<span class="nickname">绿色3</span></p>
							<p class="size-12">金币：<span>258</span></p>
						</div>
						<p class="clear">
							<span class="bg-img-lg btn-three" onclick="enterPrompt(this)"></span><!--进入游戏按钮-添加no-enter显示进入了按钮-->
						</p>						
					</div>
					<div class="people-list bg-img-lg pull-left">
						<div class="people-news bg-img-lg relative">
							<div class="head-portrait absolute">
								<img src="/static/index/images/pulick-head_02.png"><!--头像-->
								<img class="headPortrair absolute-zero" src="/static/index/images/bg_ headPortrair_home.png"><!--头像边框-->
							</div>
							<p class="size-12">ID：<span>21566</span></p>
							<p class="size-12">昵称：<span class="nickname">绿色4</span></p>
							<p class="size-12">金币：<span>258</span></p>
						</div>
						<p class="clear">
							<span class="bg-img-lg btn-three no-enter" onclick="enterPrompt(this)"></span><!--进入游戏按钮-添加no-enter显示进入了按钮-->
						</p>						
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<script src="/static/index/js/mahjong.js"></script>
	<script src="/static/index/js/public.js"></script>
</html>
