<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    	<link rel="stylesheet" href="/static/index/css/public.css"/>
		<title>排行</title>
	</head>
	<body>
		<div class="seniority-box fixed">
			<a class="bg-img-lg" href="javascript:history.back(-1);"></a>
			<div class="seniority-list bg-img-lg relative">
				<img class="absolute" src="/static/index/images/title_chart.png">
				<div class="ph-glup clear">
					<div  class="pull-left bg-img-lg active" onclick="seniority(this)"></div>
					<div class="pull-right bg-img-lg" onclick="seniority(this)"></div>	
				</div>				
				<div class="sun-box sen-box active"><!--日排行榜-->
					<div class="sun-nav clear">
						<div  class="pull-left bg-img-lg active" onclick="sister(this)"></div>
						<div class="pull-right bg-img-lg" onclick="sister(this)"></div>
					</div>					
					<div class="sun-list-box active"><!--今日活跃度-->
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.1 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.2 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.3 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.4 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.5 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.6 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.7 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.8 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.9 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.10 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>
					</div>					
					<div class="sun-list-box"><!--当局最高分-->
						<div class="sun-list bg-img-lg">
							<span class="pull-left">No.1 </span>
							<span class="size-13 pull-left">花开最完美（215879）</span>
							<span class="pull-right">102</span>
						</div>						
					</div>
				</div>				
				<div class="circuit-box sen-box"><!--周排行榜-->
					<div class="sun-list bg-img-lg">
						<span class="pull-left">No.1 </span>
						<span class="size-13 pull-left">花开最完美（215879）</span>
						<span class="pull-right">102</span>
					</div>
				</div>
			</div>
		</div>		
	</body>
	<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<script src="/static/index/js/mahjong.js"></script>
	<script src="/static/index/js/public.js"></script>
</html>
