<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header"></div>
        <div class="box-body">
          <div class="form-group">  
                <div class="col-sm-12">
                    <textarea id="editor" type="text/plain" style="height:400px;"></textarea>
                </div>
          </div>
        </div>
        <div class="box-footer">
            <div class="col-sm-12" style="text-align: right;">
                <button type="button" class="btn btn-primary" onclick="handle.update()">保存</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    var requestUrl = {
      update : "{:url('System/updateSystem')}"
    };


    var handle = {

      update : function(){
        var agencyDetail = ue.getContent();
        bayMax.infoConfirm(function(){
          $.post(requestUrl.update,{agencyDetail:agencyDetail},function(e){
            if(e.code==1){
              bayMax.msg(e.msg);
            }else{
              bayMax.warning(e.msg);
            }
          })
        })
      },

    };

    //编辑器
    var ue = new UE.ui.Editor({
    toolbars:[['fullscreen',  'undo', 'redo', '|','bold', 'italic',   'formatmatch', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist',  '|', 'fontfamily', 'fontsize', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'link', 'unlink',  '|','simpleupload', 'insertimage']],
    textarea:'content' ,
    // initialFrameWidth:800 ,//初始化宽
    initialFrameHeight:400 ,//初始化高
    wordCount:true,          //是否开启字数统计
    maximumWords:1000,       //允许的最大字符数
    utoHeightEnabled:true,//  是否自动长高,默认true
    });    
    ue.render('editor');

    var content = '{$list.agencyDetail}'; 
    ue.addListener("ready", function () { 
        ue.setContent(content); 
    }); 

</script>