<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <div class="box">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">  
                    <div class="col-sm-12">
                        <textarea id="editor" type="text/plain" style="height:400px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button onclick="javascript:history.back(-1);" type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                        <button type="button" onclick="handle.update()"  class="btn btn-primary pull-right">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript">

    var requestUrl = {
        update : "{:url('System/updateSystem')}",
        lists : "{:url('System/rule')}"
    }

    var handle = {
        update : function(){
            var input = ue.getContent();
            $.post(requestUrl.update,{rule:input},function(e){
                if(e.code==1){
                    bayMax.msg(e.msg,function(){
                        {literal}
                        $.pjax({ url: requestUrl.lists , container: '#pjax-container'});
                        {/literal}
                    });
                }else{
                    bayMax.warning(e.msg);
                }
            })
        },

    }

    var ue = new UE.ui.Editor({
    toolbars:[['fullscreen',  'undo', 'redo', '|','bold', 'italic',   'formatmatch', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist',  '|', 'fontfamily', 'fontsize', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'link', 'unlink',  '|','simpleupload', 'insertimage']],
    textarea:'content' ,
    // initialFrameWidth:800 ,//初始化宽
    initialFrameHeight:400 ,//初始化高
    wordCount:true,          //是否开启字数统计
    maximumWords:1000,       //允许的最大字符数
    utoHeightEnabled:true,//  是否自动长高,默认true
    });    
    ue.render('editor');

    var content = '{$list.rule}'; 
    ue.addListener("ready", function () { 
        ue.setContent(content); 
    }); 

</script>