<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    	<link rel="stylesheet" href="/static/index/css/public.css"/>
		<title>代理说明</title>
	</head>
	<body>
		<div class="seniority-box fixed">
			<a class="bg-img-lg" href="javascript:history.back(-1);"></a>
			<div class="seniority-list bg-img-lg relative">
				<img class="absolute" src="/static/index/images/agent_explain.png">
				<div class="explain">
					<p>
						{$list}
					</p>
				</div>
			</div>
		</div>		
	</body>
	<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
	<script src="/static/index/js/mahjong.js"></script>
	<script src="/static/index/js/public.js"></script>
</html>

