<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    	<link rel="stylesheet" href="/static/index/css/public.css"/>
		<title>二维码</title>
	</head>
	<body>
		<div class="qr-code bg-img-lg fixed">
			<div class="bg-img-lg">
				<img src="<?=$qrcode ?>">
			</div>
			<span class="text-center">长按二维码识别</span>
			<p class="text-center absolute">打麻将、斗地主用云族佳匹配平台。随机苑配无作假；无限额；<br />
	千人在线；欢迎正真爱好者加入我们。健康娱乐，拒绝绝财博。</p>
		</div>	
	</body>
</html>
