<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>

  <section class="content" style="">
      <div class="box-body">
          <button class="btn btn-primary" style="margin-bottom: 20px;" data-toggle="modal" data-target="#myModel" type="button">添加活动</button>
            <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">添加活动</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">活动标题:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="title" placeholder="请输入活动标题">
                                    </div>
                                </div> 
                                    <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">活动内容:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="content" placeholder="请输入活动内容">
                                    </div>
                                </div> 
                                <div style="margin-left: 70%;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" onclick="handle.save()" >保存</button>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>序号</td>
                    <td>活动标题</td>
                    <td>活动内容</td>
                    <td>是否开启</td>
                    <td>操作</td>
                </tr>
                {volist name='activelist' id='v'}
                <tr>
                    <td>{$i}</td>
                    <td>{$v.title}</td>
                    <td>{$v.content}</td>
                    <td>
                        {eq name="v.status" value="1"}
                        <span class="label label-success" onclick="handle.changeStatus(this,{$v.id},{$v.status})" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-title="点击关闭">开启</span>
                        {else/}
                        <span class="label label-default" onclick="handle.changeStatus(this,{$v.id},{$v.status})" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-title="点击开启">关闭</span>
                        {/eq}
                    </td>
                    <td>
                       <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modelActive" data-placement="bottom" data-title="编辑" onclick="handle.edit(this,{$v.id});">
                        <i class="fa fa-edit"></i>
                       </button>
                        <div class="modal fade" id="modelActive" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">编辑活动</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">  
                                                <label for="inputEmail3" class="col-sm-2 control-label">活动标题:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="editTitle" placeholder="请输入活动标题">
                                                </div>
                                            </div> 
                                                <div class="form-group">  
                                                <label for="inputEmail3" class="col-sm-2 control-label">活动内容:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="editContent" placeholder="请输入活动内容">
                                                </div>
                                            </div> 
                                            <div style="margin-left: 70%;">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="button" class="btn btn-primary" onclick="handle.change()" >保存</button>
                                            </div> 
                                            <div style="display: none;">
                                                <input  id="editActiveId" type="" name="">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" data-title="删除" onclick="handle.delete(this,{$v.id});">
                        <i class="fa fa-trash"></i>
                       </button>
                    </td>
                </tr>
                {/volist}
            </table>
            <div style="margin-left: 36%">{$activelist->render()}</div>
        </div>
    </section>

 
    <script type="text/javascript">

    var index;//table中tr的下标

    var requestUrl = {
        changeStatus : "{:url('Notice/changeStatus')}",
        change : "{:url('Notice/changeNotice')}",
        save : "{:url('Notice/saveActive')}",
        delete : "{:url('Notice/deleteNotice')}"
    };

    var handle = {
        changeStatus : function(obj,id,status){
            if(status==1){
                var status = 0;
            }else{
                var status = 1;
            }
            index = $(obj).parents('tr').index();
            var data = {id:id,status:status};
            $.post(requestUrl.changeStatus,data,function(e){
                if(e.code==1){
                    if(status==0){
                        $(".table.table-bordered tr").eq(index).find('td:eq(3) span').html('关闭').attr({class:'label label-default',onclick:'handle.changeStatus(this,'+id+',0)'});
                    }else{
                        $(".table.table-bordered tr").eq(index).find('td:eq(3) span').html('开启').attr({class:'label label-success',onclick:'handle.changeStatus(this,'+id+',1)'});
                    }
                }else{
                    $.alert({
                        title:'是否开启',
                        content:'切换失败！'
                    })
                }
            })
        },

        //将编辑的当条数据写入模态框
        edit : function(obj,id){
            index = $(obj).parents('tr').index();
            var title = $(".table.table-bordered tr").eq(index).find('td:eq(1)').html();
            var content = $(".table.table-bordered tr").eq(index).find('td:eq(2)').html();
            $('#editActiveId').val(id);
            $('#editTitle').val(title);
            $('#editContent').val(content);
        },

        change : function(){
            var id = $("#editActiveId").val();
            var title = $("#editTitle").val();
            var content = $("#editContent").val();
            var data = {id:id,title:title,content:content};
            $.post(requestUrl.change,data,function(e){
                if(e.code==1){
                    $(".table.table-bordered tr").eq(index).find('td:eq(1)').html(title);
                    $(".table.table-bordered tr").eq(index).find('td:eq(2)').html(content);
                    $('#modelActive').modal('hide');
                    $.alert({
                        title:'修改',
                        content:e.msg
                    }) 
                }else{
                    $.alert({
                        title:'修改',
                        content:e.msg
                    })
                }
            })
        },

        save : function(){
            var title = $("#title").val();
            var content = $("#content").val();
            var data = {title:title,content:content};
            $.post(requestUrl.save,data,function(e){
                if(e.code==1){
                    $('#modelActive').modal('hide');
                    $.alert({
                        title:'保存',
                        content:e.msg
                    })
                    window.location.reload();
                }else{
                    $.alert({
                        title:'保存',
                        content:e.msg
                    })
                }
            })
        },

        delete : function(obj,id){
            $.confirm({
            title : '删除？',
            content : '确定要删除吗？',
            animation : 'scaleY',
            closeAnimation : 'scale',
            type : 'red',
            icon: 'fa fa-warning',
            buttons : {
                    yes : {
                        text : '确定',
                        btnClass : 'btn-red',
                        keys : ['enter'],
                        action : function(){
                            var data = {id:id};
                            $.post(requestUrl.delete,data,function(e){
                                if(e==1){
                                   $(obj).parents('tr').remove();
                                }else{
                                    bayMax.warning('删除失败');
                                }
                            })
                        }
                    },
                    no : {
                        text : '取消',
                    }
                },
            })
        }


    };


    </script>


