{extend name="base"}
{block name="title"}<title>Mahjong|后台</title>{/block}
{block name="css"}
  {__block__}

{/block}
{block name="content"}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        首页
        <small>控制面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gears"></i> 主页</a></li>
        <li class="active">首页</li>
      </ol>
    </section>
    <!-- content -->
    <section class="content" style="">
  
    </section>
{/block}
{block name="js"}
  {__block__}

{/block}
