<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">

        </div>
        <div class="box-body">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>被处罚用户ID</td>
                        <td>用户昵称</td>
                        <td>用户头像</td>
                        <td>封号人</td>
                        <td>处罚时间</td>
                        <td>解封人</td>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$i}</td>
                        <td>{$v.member_id}</td>
                        <td>{$v.member.nickname}</td>
                        <td><img src="{$v.member.head_img}" style="width: 70px;height: 70px;"></td>
                        <td>
                        <span class="label label-danger">{$v.seal_user}</span>
                        </td>
                        <td>{$v.create_at}</td>
                        <td>
                        <span class="label label-success">{$v.unlock_user}</span>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
        <div class="box-footer" style="text-align: right;">
            {$list->render()}
        </div>
    </div>
</section>

<script type="text/javascript">
    var requestUrl = {
        delete : "{:url('PunishmentRecords/deleteOne')}"
    };

    var handle = {
        delete : function(obj,id){
            bayMax.deleteConfirm(function(){
                $.post(requestUrl.delete,{id:id},function(e){
                    if(e.code==1) {
                        bayMax.msg(e.msg,function(){
                            $(obj).parents('tr').remove();
                        });
                    } else {
                        bayMax.warning(e.msg);
                    }
                });
            })
        }
    };


</script>