<style type="text/css">
    td {
        text-align: center;
    }
</style>

<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
    <!-- content -->
<section class="content" style="">
    <div class="box-body">
        <a href="{:url('Goods/addGoods')}"><button class="btn btn-primary" style="margin-bottom: 20px;" type="button">添加商品</button></a>
        <table class="table table-bordered">
            <tr>
                <td>序号</td>
                <td>商品名字</td>
                <td>商品价格(元)</td>
                <td>商品图片</td>
                <td>商品详情</td>
                <td>商品数量(件)</td>
                <td>是否出售</td>
                <td>操作</td>
            </tr>
            {volist name='list' id='v'}
            <tr>
                <td>{$i}</td>
                <td>{$v.name}</td>
                <td>{$v.price}</td>
                <td><img src="{$v.goods_img}"></td>
                <td>{$v.goods_detail}</td>
                <td>{$v.goods_num}</td>
                <td>
                    {eq name="v.status" value="1"}
                    <span class="label label-success" onclick="handle.changeStatus(this,{$v.id},{$v.status})" style="cursor:pointer">是</span>
                    {else/}
                    <span class="label label-default" onclick="handle.changeStatus(this,{$v.id},{$v.status})" style="cursor:pointer">否</span>
                    {/eq}
                </td>
                <td>
                    <a href="{:url('Goods/editGoods',['id'=>$v['id']])}">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModel" data-placement="bottom" data-title="编辑" onclick="">
                    <i class="fa fa-edit"></i>
                    </button></a>
                    <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" data-title="删除" onclick="handle.delete(this,{$v.id});">
                    <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            {/volist}
        </table>
        <div style="text-align: right;">{$list->render()}</div>
    </div>
</section>

<script type="text/javascript">

    var index;//table中tr的下标

    var requestUrl = {
        changeStatus : "{:url('Goods/changestatus')}",
        delete : "{:url('Goods/deleteGoods')}"
    };

    $(function() {
      $("[data-toggle='tooltip']").tooltip();
    })

    var handle = {
        /*修改商品出售状态*/
        changeStatus : function(obj,id,status){
            if(status==1){
                var status = 0;
            }else{
                var status = 1;
            }
            index = $(obj).parents('tr').index();
            var data = {id:id,status:status};
            $.post(requestUrl.changeStatus,data,function(e){
                if(e.code==1){
                    if(status==0){
                        $(".table.table-bordered tr").eq(index).find('td:eq(6) span').html('否').attr({class:'label label-default',onclick:'handle.changeStatus(this,'+id+',0)'});
                    }else{                                                     
                        $(".table.table-bordered tr").eq(index).find('td:eq(6) span').html('是').attr({class:'label label-success',onclick:'handle.changeStatus(this,'+id+',1)'});
                    }
                }else{
                    bayMax.warning(e.msg);
                }
            })
        },

        /*删除商品*/
        delete : function(obj,id){
            bayMax.deleteConfirm(function(){
                $.post(requestUrl.delete,{id:id},function(e){
                    if(e==1) {
                        bayMax.msg(e.msg,function(){
                            $(obj).parents('tr').remove();
                        });
                    } else {
                        bayMax.warning(e.msg);
                    }
                })
            })
        },

    };
    
</script>


