  <link rel="stylesheet"  href="/static/admin/plugins/confirm/css/jquery-confirm.css">
  <link rel="stylesheet"  href="/static/admin/plugins/fileinput/css/fileinput.css">
<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
    <!-- content -->
    <section class="content" style="">
        <div class="box-body">
            <button class="btn btn-primary" style="margin-bottom: 20px;" data-toggle="modal" data-target="#myModel" type="button">添加商品</button>
            <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">添加商品</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">  
                                    <label  for="inputEmail3" class="col-sm-2 control-label">商品名称:</label>
                                    <div class="col-sm-10">
                                        <input id="goodsName" type="text" class="form-control" id="inputEmail3" placeholder="请输入商品名称">
                                    </div>
                                </div> 
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品价格:</label>
                                    <div class="col-sm-10">
                                        <input id="goodsPrice" type="text" class="form-control" id="inputEmail3" placeholder="请输入商品价格">
                                    </div>
                                </div>
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品数量:</label>
                                    <div class="col-sm-10">
                                        <input id="goods_num" type="text" class="form-control" id="inputEmail3" placeholder="请输入商品数量">
                                    </div>
                                </div>
                                <div class="form-group">  
                                    <label for="inputEmail3" class="col-sm-2 control-label">商品详情:</label>
                                    <div class="col-sm-10">
                                        <input id="goods_detail" type="text" class="form-control" id="inputEmail3" placeholder="请输入商品详情">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">选择商品图片:</label>
                                    <input id="input-4" name="image" type="file" multiple class="file-loading">
                                </div>   
                                <div style="display: none;">
                                    <input id="imgUrl" type="text" name="">
                                </div>
                                <div style="margin-left: 70%;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" onclick="saveGoods()" class="btn btn-primary">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>序号</td>
                    <td>商品名字</td>
                    <td>商品价格</td>
                    <td>商品图片</td>
                    <td>商品详情</td>
                    <td>商品数量</td>
                    <td>是否开启</td>
                    <td>操作</td>
                </tr>
                {volist name='list' id='v'}
                <tr>
                    <td>{$i}</td>
                    <td>{$v.name}</td>
                    <td>{$v.price}</td>
                    <td><img src="{$v.goods_img}" style="width:100px; height:60px;"></td>
                    <td>{$v.goods_detail}</td>
                    <td>{$v.goods_num}</td>
                    <td>
                        {eq name="v.status" value="1"}
                        <span class="label label-success" onclick="changestatus(this,{$v.id},{$v.status})" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-title="点击关闭">开启</span>
                        {else/}
                        <span class="label label-default" onclick="changestatus(this,{$v.id},{$v.status})" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-title="点击开启">关闭</span>
                        {/eq}
                    </td>
                    <td>
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModel" data-placement="bottom" data-title="编辑" onclick="editGoods(this,{$v.id})">
                      <i class="fa fa-edit"></i>
                      </button>
                      <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">编辑商品</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">  
                                        <label  for="inputEmail3" class="col-sm-2 control-label">商品名称:</label>
                                        <div class="col-sm-10">
                                            <input id="editName"  type="text" class="form-control" id="inputEmail3" placeholder="请输入商品名称">
                                        </div>
                                    </div> 
                                    <div class="form-group">  
                                        <label for="inputEmail3" class="col-sm-2 control-label">商品价格:</label>
                                        <div class="col-sm-10">
                                            <input id="editPrice"  type="text" class="form-control" id="inputEmail3" placeholder="请输入商品价格">
                                        </div>
                                    </div> 
                                    <div class="form-group">  
                                        <label for="inputEmail3" class="col-sm-2 control-label">商品数量:</label>
                                        <div class="col-sm-10">
                                            <input id="editNum"  type="text" class="form-control" id="inputEmail3" placeholder="请输入商品数量">
                                        </div>
                                    </div>
                                    <div class="form-group">  
                                        <label for="inputEmail3" class="col-sm-2 control-label">商品详情:</label>
                                        <div class="col-sm-10">
                                            <input id="editDetail"  type="text" class="form-control" id="inputEmail3" placeholder="请输入商品详情">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">选择商品图片:</label>
                                        <input id="input-2" name="image" type="file" multiple class="file-loading">
                                    </div> 
                                    <div style="display: none;">
                                        <input id="editImg">
                                    </div>
                                    <div style="margin-left: 70%;">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" onclick="changeGoods()"  class="btn btn-primary">保存</button>
                                    </div>
                                    <div style="display: none;"> 
                                        <input id="editId" type="text"  name="">
                                    </div>
                                </form>
                            </div>
                         </div>
                      </div>
                      </div>
                      <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" data-title="删除" onclick="goodsDelete(this,{$v.id});">
                      <i class="fa fa-trash"></i>
                      </button>
                    </td>
                </tr>
                {/volist}
            </table>
            <div style="margin-left: 36%">{$list->render()}</div>
        </div>
    </section>

<script src="/static/admin/plugins/confirm/js/jquery-confirm.js"></script>
<script src="/static/admin/plugins/fileinput/js/fileinput.js"></script>
<script src="/static/admin/plugins/fileinput/js/locales/zh.js"></script>

<script type="text/javascript">

    var index;//table中tr的下标
    
    //添加商品中的文件上传
    $("#input-4").fileinput({
        language: 'zh', //设置语言
        uploadUrl: "{:url('Goods/upload')}", //上传的地址
        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
        maxFileCount: 1,
        enctype: 'multipart/form-data',
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式             
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
    }).on("fileuploaded", function(event, data) {
        if(data.response){
            var imgMsg = data.response;
            $("#imgUrl").val(imgMsg.data);
        }
    });


    //切换商品开启的状态
    function changestatus(obj,id,status){
        if(status==1){
            var status = 0;
        }else{
            var status = 1;
        }
        index = $(obj).parents('tr').index();
        var data = {id:id,status:status};
        var url = "{:url('Goods/changestatus')}";
        $.post(url,data,function(e){
            if(e.code==1){
                if(status==0){
                    $(".table.table-bordered tr").eq(index).find('td:eq(6) span').html('关闭').attr({class:'label label-default',onclick:'changestatus(this,'+id+',0)'});
                }else{                                                                  
                    $(".table.table-bordered tr").eq(index).find('td:eq(6) span').html('开启').attr({class:'label label-success',onclick:'changestatus(this,'+id+',1)'});
                }
            }else{
                $.alert({
                    title:'是否开启',
                    content:'切换失败！'
                })
            }
        })
    }


    //编辑商品时将数据传入编辑模态框
    function editGoods(obj,id){
        index = $(obj).parents('tr').index();
        var name = $(".table.table-bordered tr").eq(index).find('td:eq(1)').html();
        var price = $(".table.table-bordered tr").eq(index).find('td:eq(2)').html();
        var goods_num = $(".table.table-bordered tr").eq(index).find('td:eq(5)').html();
        var goods_detail = $(".table.table-bordered tr").eq(index).find('td:eq(4)').html();
        var goods_img = $(".table.table-bordered tr").eq(index).find('img').attr('src');
        $('#editId').val(id);
        $('#editName').val(name);
        $('#editPrice').val(price);
        $('#editNum').val(goods_num);
        $('#editDetail').val(goods_detail);
        $('#input-2').fileinput('refresh', {
        initialPreview:'<img src="'+goods_img+'" class="file-preview-image" alt="" title="">',
        });
    }

    //编辑模态框中的图片上传
    $("#input-2").fileinput({
        language: 'zh', //设置语言
        uploadUrl: "{:url('Goods/upload')}", //上传的地址
        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
        maxFileCount: 1,
        enctype: 'multipart/form-data',
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式             
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
    }).on("fileuploaded", function(event, data) {
        if(data.response){
            var imgMsg = data.response;
            $("#editImg").val(imgMsg.data);
        }
    });

    //编辑商品保存时修改商品信息
    function changeGoods(){
        var id = $('#editId').val();
        var name = $('#editName').val();
        var price = $('#editPrice').val();
        var goods_num = $('#editNum').val();
        var goods_img = $('#editImg').val();
        var goods_detail = $('#editDetail').val();
        var data = {id:id,name:name,price:price,goods_num:goods_num,goods_img:goods_img,goods_detail:goods_detail};
        var url = "{:url('Goods/changeGoods')}";
        $.post(url,data,function(e){
            if(e.code==1){
                $(".table.table-bordered tr").eq(index).find('td:eq(1)').html(name);
                $(".table.table-bordered tr").eq(index).find('td:eq(2)').html(price);
                $(".table.table-bordered tr").eq(index).find('img').attr('src',goods_img);
                $(".table.table-bordered tr").eq(index).find('td:eq(4)').html(goods_detail);
                $(".table.table-bordered tr").eq(index).find('td:eq(5)').html(goods_num);
                $('#editModel').modal('hide');
                $.alert({
                    title:'修改',
                    content:'修改成功！'
                })    
            }else{
                $.alert({
                    title:'修改',
                    content:'修改失败！'
                })
            }
        })
    }

    //添加商品
    function saveGoods(){
        var goodsName = $("#goodsName").val();
        var goodsPrice = $("#goodsPrice").val();
        var goodsNum = $("#goods_num").val();
        var goodDetail = $("#goods_detail").val();
        var goodImg = $("#imgUrl").val();
        var data = {name:goodsName,price:goodsPrice,goods_img:goodImg,goods_num:goodsNum,
            goods_detail:goodDetail};
        console.log(data);
        url = "{:url('Goods/saveGoods')}";
        $.post(url,data,function(e){
            if(e.code==1){
                $('#myModel').modal('hide');
                $.alert({
                    title:'保存',
                    content:e.msg
                })
                window.location.reload();
            }else{
                $.alert({
                    title:'保存',
                    content:e.msg
                })
            }
        })
    }

    //删除商品
    function  goodsDelete(obj,id){
     $.confirm({
        title : '删除？',
        content : '确定要删除吗？',
        animation : 'scaleY',
        closeAnimation : 'scale',
        type : 'red',
        icon: 'fa fa-warning',
        buttons : {
                yes : {
                    text : '确定',
                    btnClass : 'btn-red',
                    keys : ['enter'],
                    action : function(){
                        var data = {id:id};
                        var url = "{:url('Goods/deleteGoods')}"; 
                        $.post(url,data,function(e){
                            if(e.code==1){
                               $(obj).parents('tr').remove();
                            }else{
                                bayMax.warning('删除失败');
                            }
                        })
                    }
                },
                no : {
                    text : '取消',
                }
            },
        })
    }

</script>


