<section class="content-header">
  <h1>
    {$header}
    <small>{$desc}</small>
  </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">

        </div>
        <div class="box-body">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>被处罚用户ID</td>
                        <td>用户昵称</td>
                        <td>用户头像</td>
                        <td>处罚金币</td>
                        <td>执行人</td>
                        <td>处罚时间</td>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="v"}
                    <tr>
                        <td>{$i}</td>
                        <td>{$v.member_id}</td>
                        <td>{$v.member.nickname}</td>
                        <td>{$v.member.head_img}</td>
                        <td>{$v.punish_coin}</td>
                        <td>
                            <span class="label label-danger">{$v.admin_user}</span>
                        </td>
                        <td>{$v.create_at}</td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
        <div class="box-footer" style="text-align: right;">
            {$list->render()}
        </div>
    </div>
</section>

